<li class="{{ field.class }}">
  <label for="field.id"
    {% if field.required %}
      class="acf-contact-form-required"
    {% endif %}
  >
    {{ field.label }}
    {% if field.requried %}
      <span class="screen-reader-text">
        The {{ field.label }} is required.
      </span>
    {% endif %}
  </label>

  {% if field.type != 'textarea' %}
    {% include 'contact-form-input.twig' with { 'field': field } %}
  {% else %}
    {% include 'contact-form-textarea.twig' with { 'field': field } %}
  {% endif %}
</li>
